<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <style>
    .table {
      border-style: groove;
      border: 5 px solid black;
      border-spacing: 0;
      margin: 1rem;
      background-color: #f5f5f5;
    }

    .table__row:nth-child(even){
      background-color: #c89cff;

    }
    .table__cell{
      padding: 8px;
    }
  </style>

<body background="oneml.jpeg"><br>

<body style = "margin: 30px;">
  <h1>Hurray..Job Submitted Succesfully!!!</h1> 

<p><a href="/">Go Back</a></p>


</body>


</html>
